[submodule "jamdb"]
	path = jamdb
	url = git@github.com:felliott/jamdb.git
	branch = feature/isp-deploy
[submodule "experimenter"]
	path = experimenter
	url = git@github.com:felliott/experimenter.git
	branch = feature/isp-deploy
[submodule "isp"]
	path = isp
	url = git@github.com:felliott/isp.git
	branch = feature/isp-deploy
